.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://www.usnews.com/dims4/USNEWS/ac69ed4/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Fe3%2F41%2F016a8e9b4c5b926771122598d9b6%2Fresizes%2F1500%2F160226-craftcocktails-stock.jpg');
  height: 50vh;
  color: white;
  background-size: cover;
  background-position: center;
}
