<div class="banner">
  <div class="banner-content">
    <h1>Pretty Cocktails</h1>
    <%= link_to "Create cocktail", new_cocktail_path, class: 'btn new-button' %>
  </div>
</div>

<div class="card-wrapper">
  <div class="container">
    <div class="row">

      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-sm-4 col-md-3 nopadding">
        <div class="cocktail-card">
          <%= link_to cocktail_path(cocktail.id) do %>
            <i class="fas fa-info-circle show"></i>
          <% end %>
          <p class="card-title"> <%= cocktail.name %> </p>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
