
.new-button {
  font-size: 30px;
  text-decoration: none;
  background-color: #ffffff3b;
  border-radius: 6px;
  padding: 10px;
  color: white;
  border: 1px solid #ffffff61;
  vertical-align: top;
  margin-top: 10px;

}

.new-button:hover {
  text-decoration: none;
  color: white;
}
