
.cocktail-card {
  padding: 10px;
  margin: 10px;
  min-height: 300px;
  position: relative;
  box-shadow: 1px 2px 15px #80808073;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 100%;
  margin-bottom: 0px;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size : 50px;
  opacity: 0.9;
  overflow: hidden;
}

.show, .edit, .bin {
  position: absolute;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 24px;
}


.show {

  top: 5px;
  right: 6px;
}

.edit {
  top: 5px;
  right: 2px;

}

.bin {
  top: 35px;
  right: 7px;
}
