
.cocktail-card {
  background-color: grey;
  padding: 10px;
  margin: 10px;
  min-height: 200px;
  position: relative;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card-title {
  position: absolute;
  bottom: -18px;
  left: -4px;
  margin-bottom: 0;
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size : 50px;
  overflow: hidden;
}


.show {
  position: absolute;
  top: 2px;
  right: 2px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}
